@font-face {
    font-family: Inter;
    src: url(./Inter-VariableFont_slnt\,wght.ttf);
}
html{
    font-family: Inter;
    scroll-behavior: unset;
}
h1{
    font-family: Inter;
    font-weight: 600;
    font-size: 24px;
   
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.block{
    margin-bottom: 5%;
}

.datetimeRows{
    margin: 1% 0;
    
}

.btn{
    width: 40%;
    height: 7vh;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    
}

#btnSend{
    border: 2px solid transparent;
    background-color:#4593EC;
    color: white;
}

#btnSend:hover{
    background-color:#4593ece6;
}




#btnReset{
    border: 2px solid #4593EC;
    background-color: white;
    color: #4593EC;
}

#btnReset:hover{
    border: 2px solid #4593ece6;
    color: #4593ece6;
}

#buttonRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#upperFields{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

#dateTime{
    display: flex;
    flex-direction: column;
    
}

#selectStorey{
    max-height: 20vh;
}

textarea{
    width: 100%;
    max-width: 463px;
    margin-top: 0.2%;
    
}

